*{
    align-items: center;
}

.Audit-Number{
     
    margin-top: 10%;
    margin-left: 10%;
    
}

.number{
    margin-top: 100px;
    color: aliceblue;
    align-items: center;
    position: relative;
    align-items: center;
   
    
}    