*{
    font-family: 'Times New Roman', Times, serif;
    
}


.admin{
    padding-top: 10px;
    height: 200px;
}


.auditor{
    padding-top: 50px;
    float: left;
    width: 50%;
    height: 400px;
    

    
}

.auditee{
    padding-top: 50px;
    float: right;
    width: 50%;
    height: 400px;
    
}
.primary{
    float: right;
    border-radius: 10px;
    padding: 5px 5px 5px 5px;
}



.form-floating{
    padding-top: 5px;
    border-style: none;
}
.form-control{
    border-color: black;
    border-style: dashed;
}
input{
    border-color: aqua;
}

.form-floating>.form-select{
  
  border-color: black;
  border-width: 2px;
}
.form-floating>.form-control{
    border-color: black;
    border-width: 2px;
}